.arrow {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    &.arrow--prev::before {
      border-bottom: 20px solid rgba($primary, 0.5);
    }
    &.arrow--next::before {
      border-top: 20px solid rgba($primary, 0.5);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: border-color .3s ease;
  }
  &--prev::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid $primary;
  }
  &--next::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $primary;
  }
}
