.game{
    width: 100%;
    height: 100vh;
    .distance{
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 20px;
        color: #fff;
        z-index: 1;

    }
}